<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pageToScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEB1A6E91E92E4E4000D5840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB1A7001E92E4E4000D5840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB1A70B1E92E4E4000D5840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
